/* hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Search bar */
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}
.searchInput {
  border-style: none;
  height: 50px;
  width: 50px;
  padding: 10px;
  outline: none;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: #1557c0;
  box-shadow: 0px 0px 3px #1557c0;
  padding-right: 40px;
  color: #fff;
}
.searchInput::placeholder,
.searchInput {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 17px;
}
.searchInput::placeholder {
  color: #8f8f8f;
}
.Searchicon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  outline: none;
  border-style: none;
  border-radius: 50%;
  pointer-events: painted;
  background-color: transparent;
  transition: 0.2s linear;
}
.Searchicon:focus ~ .searchInput,
.searchInput:focus {
  box-shadow: none;
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 3px solid #1557c0;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.femalebutton:hover {
  background-color: rgb(245, 185, 195);
}
.malebutton:hover {
  background-color: #00aff0;
}
.otherbutton:hover {
  background-color: #4d227a;
}
#female:checked + .femalebutton {
  background-color: rgb(245, 185, 195);
  transform: scale(1.1);
}
#male:checked + .malebutton {
  background-color: #00aff0;
  transform: scale(1.1);
}
#other:checked + .otherbutton {
  background-color: #4d227a;
  transform: scale(1.2);
}

ion-icon {
  font-size: 40px;
  color: #99c0ff;
  cursor: pointer;
}

/* Message input */
.MessageInputForm {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
}
.msgInput {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.msgInput:hover {
  background: var(--input-hovered-color);
}
.msgInput:focus {
  outline: none;
}
.msgInput:focus ~ .input-border {
  width: 100%;
}

/* send button */
.sendBtn {
  font-family: inherit;
  font-size: 15px;
  background: royalblue;
  color: white;
  padding: 0.6em 1.4em;
  padding-left: 0.4em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0px 0px 20px royalblue;
}
.sendBtn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}
.sendBtn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.sendBtn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.sendBtn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.sendBtn:hover span {
  transform: translateX(5em);
}
.sendBtn:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}


/* sidebar toggle */
.burger {
  position: relative;
  width: 30px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
}
.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.burger span:nth-of-type(1) {
  top: 0px;
}
.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}


/* logo image */
.logoImg{
  border: 1px solid black;
  box-shadow: 0px 0px 20px #fff;
}