@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  display: flex;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 14, 106, 1) 0%,
    rgba(24, 33, 116, 1) 0%,
    rgba(128, 1, 255, 1) 0%,
    rgba(5, 0, 173, 1) 0%,
    rgba(56, 12, 105, 1) 0%,
    rgba(0, 25, 148, 1) 100%,
    rgba(185, 9, 255, 1) 100%,
    rgba(3, 41, 42, 1) 100%
  );
  min-height: 100vh;
  width: 100%;
  color: #fff;
}
#root {
  width: 100%;
}
