@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/background.jpg"); */
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 6%, rgba(81,9,121,1) 54%, rgba(0,212,255,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#root{
  width: 100%;
  min-height: 100vh;
}
